
  <app-header></app-header>
 <div class="main-block">




  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
  <router-outlet></router-outlet>
          </div>
  <div class="col-lg-4">
  <app-aside></app-aside>
</div>
</div>

</div>
</section><!-- End Blog Section -->

</main><!-- End #main -->



 </div>
 <app-footer></app-footer>